.form-control {
  display: flex;
  flex-direction: column;
}

input[type='text'].bill,
input[type='number'].persons {
  width: 100%;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 16px 20px;
  color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  font-family: 'Space Mono', sans-serif;
  background-color: hsl(189, 41%, 97%);
  box-sizing: border-box;
}

input[type='text']:focus,
input[type='number']:focus {
  outline: 2px solid hsl(183, 100%, 15%);
}

.input-labels {
  display: flex;
  justify-content: space-between;
}

input.invalid {
  outline: 2px solid red;
}

input.invalid:focus {
  outline: 2px solid red;
}
