.tip-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  color: white;
  font-size: 1.2rem;
}

.per {
  color: hsl(184, 14%, 56%);
  font-size: 1rem;
}

.amount {
  font-size: 1.5rem;
  color: hsl(172, 67%, 45%);
}
